head{
	justify-content:center;
	flex-direction: column;
	display: flex;

}
body {
	background-color: hwb(0 96% 4%);
	display: flex;
    justify-content:center;
    flex-wrap: wrap;
	flex-direction: column;
    text-align: center;
}
#logo{
	width: 400px;
	height: 200px;
	background-image: url(https://usemendgtprod01.s3.amazonaws.com/in-store-core/poc/65q5drruHVSMYPJuKuJLpcUKl8gm5RUVhOB9jtng_optimized.jpg);
	background-position: center;
	margin-left: 0px;
	display: flex;
    justify-content:center;
    text-align: center;
}
#form{
	background-color: rgb(243, 191, 77);
	height: 200px;
	padding-left: 500px;
	text-align: left;
	font-family: Poppins;
	font-style: bold;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 5px;
	justify-content:center;
}

#cuadro{
	background-position: center bottom;
	background-color: rgb(243, 191, 77);
	height: 200px;
	font-style: bold;
	display: flex;
	flex-direction:row;
	font-family: Poppins;
	margin: 5px;
	padding: 3px;
	justify-content:center;
}

#button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: Poppins;
	font-size: inherit;
	display: inline-block;
}

h2{
	font-size: 20px;
}

#imagen{
	display: flex;
	background-image: url(https://cdn-icons-png.flaticon.com/128/2424/2424721.png);
	width: 128px;
	height: 128px;
	justify-content: left;
}